body {
  background-image: url(./images/less-pieces.jpg);
  background-size: cover;
  background-position: 0px -7em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Source Sans Pro';
  color: #FBFFF1;
}
a {
  text-decoration: none;
  color: #FBFFF1;
}
.main {
  background: #6DA398;
}
section {
  padding-bottom: 3em;
}
.content-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 57em;
  margin: 0 auto;
}
.titles {
  width: 50%;
  min-width: 15em;
  margin: 0 auto;
  border-bottom: 1px solid;
  padding-bottom: .5em;
  > h1 {
    font-weight: 100;
    margin-bottom: 0;
    text-align: center;
  }
}
.divider {
  width: 0.1px;
  height: 0.1px;
  border: 5px solid;
  border-radius: 1em;
  margin: 0 auto;
  margin-bottom: 3em;
}

@import 'header-nav.scss';
@import 'about.scss';
@import 'works.scss';
@import 'links.scss';
@import 'breakpoints.scss';


