body {
  background-image: url(./images/less-pieces.jpg);
  background-size: cover;
  background-position: 0px -7em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Source Sans Pro';
  color: #FBFFF1;
}
.main {
  background: #6DA398;
}

@import 'header-nav.scss';
@import 'about.scss';
@import 'breakpoints.scss';


